{% extends 'headfoot.html' %}
{% load static %}

{% block content%}
<link href="{% static 'css/gallery.css' %}" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
<link rel="stylesheet" href="{% static 'css/fluid-gallery.css' %}">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<section id="hero" class="gallery-bg">
  <div class="hero-container">
    <img src="{% static 'images/gallery-image.fw.png' %}" class='hero-image img-fluid'></img>
  </div>
</section><!-- #hero -->

<div class="container gallery-container">

    <div class="tz-gallery">

        <div class="row mb-3">

          {% for image in cp_gallery %}
            {% for url in image.1 %}
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{url}}">
                    <img src="{{url}}" alt="Park" class="card-img-top rounded ">
                    </a>
                </div>
            </div>
                {% endfor %}
        	{%  endfor %}
        </div>

     </div>

 </div>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js">

 </script>
 <script>
     baguetteBox.run('.tz-gallery');
 </script>
{% endblock %}
