{% extends 'headfoot.html' %}

{% load static %}

{% block content %}


<link href="{% static 'css/gallery.css' %}" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
<link rel="stylesheet" href="{% static 'css/fluid-gallery.css' %}">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag -->

<section id="hero" class="gallery-bg">
  <div class="hero-container">
    <img src="{% static 'images/gallery-image.fw.png' %}" class='hero-image img-fluid'></img>
  </div>
</section><!-- #hero -->

<!--
Photos from unsplash.com
Follow me on
Dribbble: https://dribbble.com/supahfunk
Twitter: https://twitter.com/supahfunk
Codepen: https://codepen.io/supah/
-->

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Gallery</h1>
      <p class="lead">Our Gallery shows you the different structures that you will find at your airsoft event on the day. <br>
        Here you can also check out our safe zone and facilities available on site.</p>
    </div>

<!--==========================
  Services Section
============================-->
<section class="p-0" id="portfolio">
  <div class="container-fluid p-0">
    <div class="row no-gutters popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="{% url 'commandpost_gallery' %}">
          <img class="img-fluid" src="{% static 'images/gallery/commandpost.fw.png' %}" alt="">
          <div class="portfolio-box-caption">
            <img class="img-fluid" src="{% static 'images/gallery/commandpost_blk.fw.png' %}" alt="">

          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="{% url 'village_gallery' %}">
          <img class="img-fluid" src="{% static 'images/gallery/village.fw.png' %}" alt="">
          <div class="portfolio-box-caption">
            <img class="img-fluid" src="{% static 'images/gallery/village_blk.fw.png' %}" alt="">

          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="#">
          <img class="img-fluid" src="{% static 'images/gallery/safezone.fw.png' %}" alt="">
          <div class="portfolio-box-caption">
            <img class="img-fluid" src="{% static 'images/gallery/safezone_blk.fw.png' %}" alt="">

          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="#">
          <img class="img-fluid" src="{% static 'images/gallery/outlining.fw.png' %}" alt="">
          <div class="portfolio-box-caption">
            <img class="img-fluid" src="{% static 'images/gallery/outlining_blk.fw.png' %}" alt="">

          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="#">
          <img class="img-fluid" src="{% static 'images/gallery/trenches.fw.png' %}" alt="">
          <div class="portfolio-box-caption">
            <img class="img-fluid" src="{% static 'images/gallery/trenches_blk.fw.png' %}" alt="">

          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="#">
          <img class="img-fluid" src="{% static 'images/gallery/under.fw.png' %}" alt="">
          <div class="portfolio-box-caption">
          <img class="img-fluid" src="{% static 'images/gallery/under_blk.fw.png' %}" alt="">


          </div>
        </a>
      </div>
    </div>
  </div>

<!-- commented out previous gallery images.
    we should get the same effect of the lightbox to display each image from the categories above.


</section>

<div class="container gallery-container">

    <div class="tz-gallery">

        <div class="row mb-3">
          {% for image in gallery %}
            {% for urls in image.2 %}
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{urls.url}}">
                    <img src="{{urls.url}}" alt="Park" class="card-img-top rounded ">
                    </a>
                </div>
            </div>
            {% endfor %}
        	{%  endfor %}
          </div>

     </div>

 </div> -->

 <!-- Earlier version
<div class="gallery">
	{% for image in gallery %}
		{% for urls in image.2 %}
		<figure>
			<img src="{{urls.url}}" alt=""  height= "500" width= "500"/>
				<figcaption>{{image.1}}</figcaption>
		</figure>
		{% endfor %}
	{%  endfor %}
-->



<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js">

</script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
{% endblock %}
