{% extends 'headfoot.html' %}

{% load static %}

{% block content %}


<link href="{% static 'css/gallery.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
<link rel="stylesheet" href="{% static 'css/fluid-gallery.css' %}">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag -->

<section id="hero" class="gallery-bg">
  <div class="hero-container">
    <img src="{% static 'images/hero_image.fw.png' %}" class='hero-image img-fluid'></img>
  </div>
</section><!-- #hero -->

<!--
Photos from unsplash.com
Follow me on
Dribbble: https://dribbble.com/supahfunk
Twitter: https://twitter.com/supahfunk
Codepen: https://codepen.io/supah/
-->
<div class="container gallery-container">

    <div class="tz-gallery">

        <div class="row mb-3">
          {% for image in gallery %}
            {% for urls in image.2 %}
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{urls.url}}">
                    <img src="{{urls.url}}" alt="Park" class="card-img-top rounded ">
                    </a>
                </div>
            </div>
            {% endfor %}
        	{%  endfor %}
          </div>

     </div>

 </div>

 <!-- Earlier version
<div class="gallery">
	{% for image in gallery %}
		{% for urls in image.2 %}
		<figure>
			<img src="{{urls.url}}" alt=""  height= "500" width= "500"/>
				<figcaption>{{image.1}}</figcaption>
		</figure>
		{% endfor %}
	{%  endfor %}
-->



<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js">

</script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
{% endblock %}
