<!doctype html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <title>Apocalypse Airsoft</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'images/favicon.fw.png' %}" rel="icon">
  <link href="{% static 'images/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">


</head>
<body>
  <header id="header" class="navbar navbar-transparent navbar-fixed-top animated fadeInDown">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <a href="{% url 'home' %}"><img src="{% static 'images/apocalypse_logo.png' %}" alt="" title="" /></img></a>

      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="{% if request.resolver_match.url_name == 'home' %}menu-active{% endif %}"><a href="{% url 'home' %}">Home</a></li>
          <li class="menu-has-children
          {% if request.resolver_match.url_name == 'venue' %}menu-active{% endif %}
          {% if request.resolver_match.url_name == 'whatisairsoft' %}menu-active{% endif %}
          {% if request.resolver_match.url_name == 'siterules' %}menu-active{% endif %}
          {% if request.resolver_match.url_name == 'waiver' %}menu-active{% endif %}
          {% if request.resolver_match.url_name == 'insurance' %}menu-active{% endif %}
          "><a href="#">About Us</a>
            <ul>
              <li><a href="#">Venue</a></li>
              <li><a href="#">What is Airsoft</a></li>
              <li><a href="#">Site Rules</a></li>
              <li><a href="#">Waiver Form</a></li>
              <li><a href="#">Insurance Details</a></li>
            </ul>
          </li>
          <li class="menu-has-children
          {% if request.resolver_match.url_name == 'skirmish' %}menu-active{% endif %}
          {% if request.resolver_match.url_name == 'under18' %}menu-active{% endif %}
          {% if request.resolver_match.url_name == 'milsim' %}menu-active{% endif %}
          {% if request.resolver_match.url_name == 'staghen' %}menu-active{% endif %}
          {% if request.resolver_match.url_name == 'corporate' %}menu-active{% endif %} "><a href="#">Events</a>
            <ul>
              <li><a href="{% url 'skirmish' %}">Skirmish</a></li>
              <li><a href="{% url 'under18' %}">Under 18's</a></li>
              <li><a href="{% url 'milsim' %}">Milsim</a></li>
              <li><a href="#">Stag & Hen Parties</a></li>
              <li><a href="#">Corporate Events</a></li>
            </ul>
          </li>
          <li class="{% if request.resolver_match.url_name == 'gallery' %}menu-active{% endif %}"><a href="{% url 'gallery' %}">Gallery</a></li>
          <li class="{% if request.resolver_match.url_name == 'bookings' %}menu-active{% endif %}"><a href="{% url 'bookings' %}">Bookings</a></li>
        <!-- <li class="{% if request.resolver_match.url_name == 'blog' %}menu-active{% endif %}"><a href="{% url 'blog' %}">Blog</a></li> -->
          <li class="{% if request.resolver_match.url_name == 'shop' %}menu-active{% endif %}"><a href="http://www.apocalypse249.com/webstore/tomatocart/">Shop</a></li>
          <li class="{% if request.resolver_match.url_name == 'contact' %}menu-active{% endif %}"><a href="#">Contact Us</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->


    {% block content %}

    {% endblock %}


    <section id="contact">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Location</h3>
          <p class="section-description">Apocalypse Airsoft is located  on the A249, southbound between M2 Jct5 and M20 Jct7.</p>
        </div>
      </div>

      <div id="google-map" data-latitude="51.312233" data-longitude="0.62732989"></div>

    <div class="container wow fadeInUp">
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4">

          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>Apocalypse Airsoft<br>
                 Stockbury Valley, Stockbury<br>
                 Sittingbourne ME9 7QN</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>info@example.com</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+1 5589 55488 55s</p>
            </div>
          </div>

          <div class="social-links">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button class="btn btn-primary" type="submit">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #contact -->

</main>

<!--==========================
Footer
============================-->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">

        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>Apocalypse Ltd.</strong>. All Rights Reserved
        </div>

      </div>
    </footer><!-- #footer -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>

    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
    <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>

    <!-- Contact Form JavaScript File -->
    <script src="{% static 'contactform/contactform.js' %}"></script>

    <!-- Template Main Javascript File -->
    <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>
