{% extends 'headfoot.html' %}
{% load static %}


{% block content %}



<section id="hero" class="milsim-bg">
  <div class="hero-container">
    <img src="{% static 'images/milsim-image.fw.png' %}" class='hero-image img-fluid'></img>
  </div>
</section><!-- #hero -->

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Milsim Events</h1>
      <p class="lead">Please note, this is not a 'gamesim' or 'filmsim'. It is an outdoor survival adventure.<br>

        It will therefore employ a certain element of discomfort and  'actual reality'. <br>

        The only food, shelter and comfort is what you can carry yourself.<br>
        There are comfort breaks, safe zone or covered areas,<br>

        physical fitness and the correct state of mind are essential.<br>

        If your not sure, then its probably not for you. </p>

        <p class="lead">For further details phone Martin 0787 2348576.</p>
    </div>

    <div>
      <div class="container">
        <div class="accordion" id="accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <div data-toggle="collapse" data-toggle="tooltip" title="Click to Expand" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  <h4 class="my-0 font-weight-normal">Ammunition limits (unless specified for a given event/team)  <i class="fa fa-chevron-down"></i></h4>
                </div>
              </h5>
            </div>

            <div id="collapseOne" class="collapse" data-parent="#accordion">
              <div class="card-body">
                AEGs, 1200 rounds - (High cap mags are discouraged, they reduce  realism - and  sound like 'tactical maracas!')<p>
                Pistols, 3 full mags<p>
                Sniper rifles, 200 rounds
                Support weapons, 5000 rounds  - (Due to the stealth/surveillance nature of the missions, support guns are not recommended.)
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <div data-toggle="collapse" data-toggle="tooltip" title="Click to Expand" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h4 class="my-0 font-weight-normal">Life Rules  <i class="fa fa-chevron-down"></i></h4>
                </div>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                These rules are designed to make the exercise as realistic as possible.
                If you can not guarantee you will win an engagement with the enemy or alert more forces to your position,  then you
                need to remain undetected in order to survive, complete your mission and possibly avoid hiking a mile to regen. <br>
                (Which to be fair is still better than actually being killed to death with real guns!)<p>

                Each patrol team will have a designated medic who will carry a number of tags.<br>
                When hit a player first calls 'HIT', then calls for a medic.<br>
                The wounded player is then out of action until the medic applies a tag.<br>
                He must not move, or talk, except to call 'medic'.<br>
                Another player may place a hand on the wounded player to move him to cover or escort him to the medic.
                When the medic has no more tags, then the entire patrol is deemed to be out of action and must return to their designated
                regen point where they will remain for a preset period of time.<br>
                If a medic is hit, then any other player can heal the medic providing the medic still has tags remaining.<p>

                It is essential that patrol members work together as a unit to avoid getting lost or split up from the medic.<br>
                Note: A player who gets shot repeatedly and hogs all the medic's tags is not going to become popular with their team!<br>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <div data-toggle="collapse" data-toggle="tooltip" title="Click to Expand" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <h4 class="my-0 font-weight-normal">Navigation / Comms / Uniform requirements   <i class="fa fa-chevron-down"></i></h4>
                </div>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                When on patrol or  tasked with an objective you will be required to navigate to specific map coordinates so basic map reading, <br>
                compass and orienteering skills are essential. If you bring a GPS, make sure you know how to use it and have spare batteries!<p>
                <p>Each patrol team will be issued with a radio for communication with their HQ.<p>
                No specific requirements for either team, but prepare for covert woodland operation.<br>
                Note: With no distinct difference between forces, you will need to check the location of friendly units with your<br>
                HQ via radio prior to any engagement!
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <div data-toggle="collapse" data-toggle="tooltip" title="Click to Expand" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <h4 class="my-0 font-weight-normal">Other Notes   <i class="fa fa-chevron-down"></i></h4>
                </div>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                In line with the realistic, survival nature of the event you are required to be self sufficient for the duration of the mission.<br>
                There will be NO safe zone or shop  in operation.<br>
                There is no running water on site.<br>
                There is no barn, hanger, or comfy hotel for R&R. <br>
                Bring what you NEED for the event,  make sure you are comfortable carrying it and confident using it !<br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">

      </div>
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">Kit List Sugestion</h1>
          <p class="lead">Suggested basic kit list for spring overnight / milsim type events.<br>

            Feel free to tailor to personal taste! <br>

            (Note :- The kit shown below weighs in at approx 12kg)</p>
    </div>
    <section class="p-0" id="portfolio">
      <div class="container-fluid">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <img class="img-fluid" src="{% static 'images/kitlist1.jpg' %}" alt="">
          </div>
          <div class="col-lg-4 col-sm-6">
              <img class="img-fluid" src="{% static 'images/kitlist2.jpg' %}" alt="">
          </div>
          <div class="col-lg-4 col-sm-6">
              <img class="img-fluid" src="{% static 'images/kitlist3.jpg' %}" alt="">
          </div>

        </div>
      </div>
    </section>


{% endblock %}
